* {
  box-sizing: border-box;
  font-family: serif;
}


:root {
    --wood-thickness: 10px;
    --base-color: #4c2b08;
    --message-color: #6d3914;
    --complementary: #ab7843;
    --light: #d7bda6;
}

html {
    margin: 0; 
    padding: 0; 
}

body {
    margin: 0;
    font-family: serif;
}


h3 {
    text-align: center;
    margin: 0.2rem auto;
    color: var(--message-color);
}

#game-header {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-start; 
  margin-bottom: 30px; 
}

#btn-category-menu {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: var(--light);
  color: white;
  font-weight: bold;
  cursor: pointer;
  opacity: 100%;
  margin-top: 0.3rem;
}

#btn-category-menu:hover {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: var(--light);
  color: white;
  font-weight: bold;
  cursor: pointer;
  opacity: 100%;
  transform: scale(1.05);
}

#main-container {
    display: block;
    margin-top: 2rem;
}

#home-screen {
    text-align: center;
    width: 100%;
    margin-top: 2rem;
}

#subtitle {
    color: var(--message-color);
    margin-bottom: 2rem;
}

.btn-big {
    background-color: var(--message-color);
    color: white;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
}
.btn-big:hover {
    transform: scale(1.05);
}

.menu-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background: var(--light);
    color: white;
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
    opacity: 0.9;
    z-index: 2000;
}

.menu-button:hover {
    opacity: 1;
    transform: scale(1.05);
}

#right-side {
    margin-top: 2rem;
}

h1 {
    text-align: center;
    font-family: serif;
    color: var(--base-color);
    margin-bottom: 0;
    margin-top: 1.5rem;
}

#title {
    color: var(--base-color);
}

p {
    text-align: center;
    color: var(--message-color);
}

#key-use {
    color: var(--message-color);
}

#word-display {
    margin: 2rem;
    height: 0.6rem;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

#hangman {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 5px auto;
}

#hangman > div {
    position: absolute;
    background-color: black;
    border-radius: 40px;
    transition: opacity 0.3s;
}

.hidden {
    opacity: 0;
}

#avatar-choice-container {
    background-color: var(--light);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    top: 0; 
    left: 0; 
    z-index: 999;
    overflow-y: auto;
    padding-bottom: 2rem;
}


.instructions {
    text-align: center;
    margin: auto;
    color: var(--message-color);
    margin-top: 1.5rem;
}

#key-use {
    text-align: center;
    margin: auto;
    font-size: small;
}

#avatar-list {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 3rem;
    width: 75%;
    max-width: 80%;
    margin: 1rem auto;
}

#avatar-list li img:hover {
  transform: scale(1.4);
  cursor: pointer;
}

#category-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    margin: 1rem auto;
    padding: 2rem;
    background-color: white;
    width: 75%;
    max-width: 80%;
    border-radius: 1rem;
    text-align: center;
    cursor: pointer;
}

#category-list li {
    padding: 0.6rem;
    font-size: 1.2rem;
    background-color: #f3f3f3;
    border-radius: 0.8rem;
    transition: 0.2s;
}

#category-list li:hover {
    background-color: var(--light);
    color: white;
    transform: scale(0.9);
    cursor: pointer;
}

#category-list li.selected {
    background-color:var(--light);
    color: white;
    transform: scale(1.05);
    font-weight: bold;
    cursor: default;
    /*box-shadow: 0 0 10px rgba(228, 165, 76, 0.7);*/
}

#base {
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--wood-thickness);
}

#vertical {
    bottom: 0px;
    right: calc(var(--wood-thickness) * 2);
    width: var(--wood-thickness);
    height: 250px;
}

#horizontal {
    bottom: 240px;
    right: 20px;
    width: 100px;
    height: 10px;
}

#rope {
    top: 50px;
    right: 110px; 
    width: 10px;
    height: 42px;
}

img {
    width: 100%;
}

#head {
    top: 88px;
    right: 95px;
    width: 40px;
    height: 40px;
    /*border: 10px solid black;
    border-radius: 50%;*/
}

#head[data-avatar="1"] {
    background-image: url(img/option1.png);
    background-position: center;
    background-size: contain;
}

#head[data-avatar="2"] {
    background-image: url(img/option2.png);
    background-position: center;
    background-size: contain;
}

#head[data-avatar="3"] {
    background-image: url(img/option3.png);
    background-position: center;
    background-size: contain;
}



#body {
    top: 125px;
    right: 110px;
    width: 10px;
    height: 65px;
}

#right-arm {
    top: 125px;
    right: 108px;
    height: 50px;
    width: 10px;
    transform-origin: 0 0;
    transform: rotate(47deg);
}

#left-arm {
    top: 130px;
    right: 112px;
    height: 50px;
    width: 10px;
    transform-origin: 0 0;
    transform: rotate(-47deg);
}

#right-leg {
    top: 180px;
    right: 108px;
    height: 50px;
    width: 10px;
    transform-origin: 0 0;
    transform: rotate(40deg);
}

#left-leg {
    top: 186px;
    right: 112px;
    height: 50px;
    width: 10px;
    transform-origin: 0 0;
    transform: rotate(-40deg);
}

.overlay {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0; 
    background-color: #d7bda6e7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#score-display {
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem;
    color: rgb(255, 255, 255);
    background-color: var(--complementary);
    width: 6rem;
    margin: 2rem auto 0.5rem auto;
    border-radius: 1.8rem;
}

#score {
    font-size: small;
    margin-bottom: 0.3rem;
    margin-top: 0.2rem;
    color: white;
}

#wrong-letters {
    padding: 1rem;
    text-align: center;
    color: var(--base-color);
    font-size: small;
    margin-top: 1.5rem;
}

#message {
    padding: 1rem;
    text-align: center;
    color: var(--complementary);
    font-size: small;
    font-style: italic;
}

#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #d7bda6a3;
    /*background-color: var(--message-color);
    opacity: 6%;*/
    z-index: 900;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    background: white;
    border-radius: 1rem;
    border: none;
    text-align: center;
    z-index: 1000;
    width: 20rem;
    height: 15rem;
    animation: popupFade 0.3s ease;
}

#btn-lose {
    background-color: var(--base-color);
    border-radius: 1rem;
    border: none;
    padding: 0.6rem;
    color: white;
    cursor: pointer;
}

#btn-win {
    background-color: var(--base-color);
    border-radius: 1rem;
    border: none;
    padding: 0.6rem;
    color: white;
    cursor: pointer;
}


@media (min-width: 900px) {
    
    #avatar-list {
    display: flex;
    gap: 10rem;
    list-style: none;
    padding: 2rem;
    align-items: center;
    justify-content:space-around;
    background-color: white;
    border-radius: 3rem;
    width: 75%;
    max-width: 80%;
    margin: 1rem auto;
    }

    #word-display {
    margin: 1rem 4rem 4rem 4rem;
    text-align: center;
    font-size: 2.5rem;
    }

    #wrong-letters {
        font-size: medium;
    }

    #message {
        font-size: medium;
        font-style: italic;
    }

    #hangman {
    width: 250px;
    height: 350px;
    margin: 3rem auto;
    }

    #base {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 15px;
    }

    #vertical {
        bottom: 0px;
        right: 30px;
        width: 15px;
        height: 300px;
    }

    #horizontal {
        bottom: 290px;
        right: 30px;
        width: 150px;
        height: 15px;
    }

    #rope {
        top: 45px;
        right: 165px; 
        width: 15px;
        height: 67px;
    }

    img {
        width: 100%;
    }

    #head {
        top: 105px;
        right: 147px;
        width: 50px;
        height: 50px;
        /*border: 10px solid black;
        border-radius: 50%;*/
    }

    #head[data-avatar="1"] {
        background-image: url(img/option1.png);
        background-position: center;
        background-size: contain;
    }

    #head[data-avatar="2"] {
        background-image: url(img/option2.png);
        background-position: center;
        background-size: contain;
    }

    #head[data-avatar="3"] {
        background-image: url(img/option3.png);
        background-position: center;
        background-size: contain;
    }

    #body {
        top: 150px;
        right: 165px;
        width: 15px;
        height: 85px;
    }

    #right-arm {
        top: 150px;
        right: 165px;
        height: 65px;
        width: 15px;
        transform-origin: 0 0;
        transform: rotate(47deg);
    }

    #left-arm {
        top: 159px;
        right: 165px;
        height: 65px;
        width: 15px;
        transform-origin: 0 0;
        transform: rotate(-47deg);
    }

    #right-leg {
        top: 220px;
        right: 160px;
        height: 70px;
        width: 15px;
        transform-origin: 0 0;
        transform: rotate(40deg);
    }

    #left-leg {
        top: 225px;
        right: 168px;
        height: 70px;
        width: 15px;
        transform-origin: 0 0;
        transform: rotate(-40deg);
    }

}